.color-main {
    color: #FFFFFF;
}

.color-accent {
    color: #FF28D0;
}

.color-accent-extend {
    color: #FBFF32;
}

.border-accent {
    border-color: #FF28D0;
    transition: all 0.6s ease-in-out;
}

.border-accent:hover,
.border-accent:active {
    box-shadow: 0px 0px 40px 2px #FF28D0;
    transition: all 0.2s linear;
}

.border-accent-extend {
    border-color: #FBFF32;
    transition: all 0.6s ease-in-out;
}

.border-accent-extend:hover,
.border-accent-extend:active {
    box-shadow: 0px 0px 40px 2px #FBFF32;
    transition: all 0.2s linear;
}