.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}
.flex-align-end {
    align-items: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}